version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: provideroptimizer
    ports:
      - "5432:5432"

  api:
    build: .
    depends_on:
      - db
    environment:
      - ConnectionStrings__Default=Host=db;Database=provideroptimizer;Username=postgres;Password=postgres
    ports:
      - "5000:80"